<div class="card-header flex items-center">
    <h5 class="text-lg text-midnight-blue my-0 py-0 font-bold">
      {{data.title}}
    </h5>
  </div>
  <!-- <div class="header-separator bg-primary">
    <div class="bg-warning" style="width: 20%;"></div>
  </div> -->
  <!-- Line separator -->
  <div class="h-1 bg-blue-500">
    <div class="h-full bg-yellow-400 w-1/5"></div>
  </div>
  <div class="card-body mt-4">
    <div class="flex justify-center items-center">
      <div
        class="text-center items-center border-gray-300 h-15 w-15 animate-spin rounded-full border-8 border-t-blue-600"
      ></div>
    </div>
    <div class="flex">
      <div class="flex mx-auto text-midnight-blue mt-2">
        <strong>{{data.message}}</strong>
      </div>
    </div>
  </div>
