<div class="w-full">
    <div class="flex flex-wrap gap-1">
        <!-- First Card -->
        <div class="w-full md:w-1/3 bg-white rounded shadow-md" style="height: 150px;">
            <div class="px-4 py-2 border-b">
                <h5 class="font-bold m-0">Statistiques générales</h5>
            </div>
            <div class="h-1 w-full" style="background: linear-gradient(#3c99dc, #007bfc);">
            </div>
            <div class="p-0">
                <app-done-general-counts></app-done-general-counts>

            </div>
        </div>

        <!-- Second Card -->
        <div *ngIf="false" class="w-full md:w-[65%] bg-white rounded shadow-md">
            <div class="px-4 py-2 border-b">
                <h5 class="font-bold m-0">Processus traité</h5>
            </div>
            <div class="h-1 w-full" style="background: linear-gradient(#3c99dc, #007bfc);">
            </div>
            <div class="p-4 mt-4">
                <app-done-current-user></app-done-current-user>

            </div>
        </div>

        <!-- Optional Third Card -->
        <div  class="w-full md:w-1/2 bg-white rounded shadow-md">
            <div class="px-4 py-2 border-b">
                <h5 class="font-bold m-0">Processus traité par subordonné <span class="text-muted" style="font-size: 12px;" >{{" (" + cTp + ")" }}</span></h5>
            </div>
            <div class="h-1 w-full" style="background: linear-gradient(#3c99dc, #007bfc);">
            </div>
            <div class="p-4 mt-4">
                <app-done-by-user-hierarchy (c)="tp($event)"></app-done-by-user-hierarchy>
            </div>
        </div>
    </div>
</div>
