<h2 mat-dialog-title class="d-flex align-items-center">
  <span class="h5 midnight-blue my-0 py-0" style="font-weight: 700!important;">
   title
  </span>
  <a class="ml-auto" (click)="action('no')" mat-dialog-close>
    <i class="fa fa-times times-size" aria-hidden="true"></i>
  </a>
</h2>

<div class="header-separator bg-primary">
  <div class="header-separator bg-warning" style="width: 20%;"></div>
</div>

<mat-dialog-content>
  <form>
    <div class="form-group">
      <label class="midnight-blue" style="font-weight: 700!important;">
        {{ target }}
      </label>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button color="primary" (click)="action('no')">
    <i class="fas fa-undo"></i> annuler
  </button>

  <button mat-raised-button color="warn" (click)="action('yes')">
    <i class="fas fa-check"></i>btn
  </button>
</mat-dialog-actions>
