<div class="fixed inset-0 z-50 flex items-center justify-center overflow-x-hidden overflow-y-auto outline-none focus:outline-none bg-black bg-opacity-50">
    <div class="relative w-full max-w-md mx-auto my-6">
        <div class="relative flex flex-col w-full bg-card border-0 rounded-lg shadow-lg outline-none focus:outline-none">
            <!-- Dialog header -->
            <div class="flex items-center justify-between p-1 ml-2 bg-gray-0">
                <h3 class="text-xl font-bold">Modifier un List Control Access</h3>
                <a class="ml-auto cursor-pointer" >
                    <span><i class="fa fa-times text-lg" aria-hidden="true"></i></span>
                </a>
            </div>

            <!-- Line separator -->
            <div class="h-1 bg-blue-500">
                <div class="h-full bg-yellow-600 w-1/5"></div>
            </div>
            <!-- Dialog content -->
            <div class="relative p-2 flex-auto">
                <form class="flex flex-col mt-1 pr-3 pl-3 pb-1 bg-card rounded-2xl overflow-hidden">

                    <!-- Nom: -->
                    <div class="flex mb-2">
                        <div class="flex-auto">
                            <label for="nom" class="block text-sm font-medium">Nom:</label>
                            <input type="text" id="nom"
                                class="mt-1 block w-full py-2 px-3 border bg-card rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                                placeholder="nom">
                        </div>
                    </div>

                    <!-- Utilisateurs: -->
                    <div class="flex mb-2">
                        <div class="flex-auto">
                            <label for="utilisateurs" class="block text-sm font-medium">Utilisateurs:</label>
                            <div class="relative">
                                <select (change)="addSelectedItem($event, 'utilisateurs')" class="mt-1 block w-full py-2 px-3 border bg-gray-100 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                    <option value="">-- Select Utilisateurs --</option>
                                    <option *ngFor="let item of utilisateurs" [value]="item">{{ item }}</option>
                                </select>
                                <!-- X mark for delete -->
                                <button type="button" id="clear-selection"
                                    class="mr-4 absolute top-1/2 right-2 transform -translate-y-1/2 text-gray-400 hover:text-red-500 focus:outline-none">
                                    <i class="fas fa-undo"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- List of selected Utilisateurs -->
                    <ul class="flex flex-wrap mt-2 mb-4">
                        <li *ngFor="let item of selectedUtilisateurs" class="ml-1">
                            <span class="bg-gray-100 border border-blue-500 rounded-full shadow flex items-center text-xs">
                                <span class="text-yellow-500 font-bold ml-1 mr-1">#</span>
                                <span>{{ item }}</span>
                                <i (click)="removeSelectedItem(item, 'utilisateurs')" class="fas fa-undo ml-2 mr-1 text-center bg-red-500 rounded-md text-xs text-white cursor-pointer"></i>
                            </span>
                        </li>
                    </ul>

                    <!-- Privilèges sur type de document: -->
                    <div class="flex mb-2">
                        <div class="flex-auto">
                            <label for="documents" class="block text-sm font-medium">Privilèges sur type de document:</label>
                            <div class="relative">
                                <select (change)="addSelectedItem($event, 'documents')" class="mt-1 block w-full py-2 px-3 border bg-gray-100 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                    <option value="">-- Select Privilèges --</option>
                                    <option *ngFor="let item of documents" [value]="item">{{ item }}</option>
                                </select>
                                <!-- X mark for delete -->
                                <button type="button" id="clear-selection"
                                    class="mr-4 absolute top-1/2 right-2 transform -translate-y-1/2 text-gray-400 hover:text-red-500 focus:outline-none">
                                    <i class="fas fa-undo"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- List of selected Privilèges sur type de document -->
                    <ul class="flex flex-wrap mt-2 mb-4">
                        <li *ngFor="let item of selectedDocuments" class="ml-1">
                            <span class="bg-gray-100 border border-blue-500 rounded-full shadow flex items-center text-xs">
                                <span class="text-yellow-500 font-bold ml-1 mr-1">#</span>
                                <span>{{ item }}</span>
                                <i (click)="removeSelectedItem(item, 'documents')" class="fas fa-undo ml-2 mr-1 text-center bg-red-500 rounded-md text-xs text-white cursor-pointer"></i>
                            </span>
                        </li>
                    </ul>

                    <!-- Privilèges sur type de Courriers: -->
                    <div class="flex mb-2">
                        <div class="flex-auto">
                            <label for="courriers" class="block text-sm font-medium">Privilèges sur type de courriers:</label>
                            <div class="relative">
                                <select (change)="addSelectedItem($event, 'courriers')" class="mt-1 block w-full py-2 px-3 border bg-gray-100 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                    <option value="">-- Select Privilèges --</option>
                                    <option *ngFor="let item of courriers" [value]="item">{{ item }}</option>
                                </select>
                                <!-- X mark for delete -->
                                <button type="button" id="clear-selection"
                                    class="mr-4 absolute top-1/2 right-2 transform -translate-y-1/2 text-gray-400 hover:text-red-500 focus:outline-none">
                                    <i class="fas fa-undo"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- List of selected Privilèges sur type de Courriers -->
                    <ul class="flex flex-wrap mt-2 mb-4">
                        <li *ngFor="let item of selectedCourriers" class="ml-1">
                            <span class="bg-gray-100 border border-blue-500 rounded-full shadow flex items-center text-xs">
                                <span class="text-yellow-500 font-bold ml-1 mr-1">#</span>
                                <span>{{ item }}</span>
                                <i (click)="removeSelectedItem(item, 'courriers')" class="fas fa-undo ml-2 mr-1 text-center bg-red-500 rounded-md text-xs text-white cursor-pointer"></i>
                            </span>
                        </li>
                    </ul>

                </form>
            </div>

            <!-- Line separator -->
            <div class="w-full h-0.5" style="background: linear-gradient(to right, #ffc107, #007bff);"></div>

            <!-- Dialog footer -->
            <div class="bg-card px-2 py-1 sm:px-6 sm:flex sm:flex-row-reverse rounded-b-lg justify-center">
                <button type="button" class="w-full inline-flex justify-center items-center rounded-md border border-transparent shadow-sm px-2 py-1 bg-blue-600 text-base font-medium text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">
                    <i class="fa-solid fa-pen-to-square mr-2"></i> Modifier
                </button>
                <button type="button" class="mt-3 w-full inline-flex justify-center items-center rounded-md border border-gray-300 shadow-sm px-2 py-1 bg-black text-base font-medium text-white hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                    <i class="fas fa-undo mr-2"></i> Annuler
                </button>
            </div>

        </div>
    </div>
</div>
