<div class="container mx-auto p-4"  *transloco="let translate">
    <div class="flex justify-between mb-2">
        <div class="flex items-center">
            <div class="relative">
                <input type="text" placeholder="Rechercher"
                    class="border-2 bg-card rounded-full p-2 pr-8 pl-8 focus:border-blue-500 focus:outline-none" />
                <span class="absolute left-3 top-3 text-secondary-700">
                    <i class="fas fa-search icon-size-4"></i>
                </span>
            </div>
        </div>
        <div class="flex items-center">
            <button (click)="openAjouterGroupsDocumentDialog()"
                class="bg-blue-500 ml-1 text-white rounded-full px-2 py-1 hover:bg-blue-600 flex items-center transition duration-200">
                <i class="fa-solid fa-plus mr-1"></i>
                {{ translate('consoleadmin.ajoutergroupeutilisateurs') }}
            </button>
        </div>
    </div>

    <div class="bg-card shadow-md rounded-lg p-4 flex flex-col md:flex-row w-full">
        <div class=" bg-card dark:bg-neutral-700 rounded-lg shadow-sm w-full">
            <table class="text-left text-xs whitespace-nowrap mx-auto border-2 border-blue-500 shadow-lg w-full">
                <thead class="uppercase tracking-wider dark:border-neutral-600 bg-sky-600 text-white">
                    <tr>
                        <th class="px-6 py-3 text-center">{{ translate('consoleadmin.nomgroupe') }}</th>
                        <th class="px-6 py-3 text-center">{{ translate('consoleadmin.actions') }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hover:bg-neutral-100 dark:hover:bg-neutral-600">
                        <th scope="row" class="px-2 py-1 text-center">test1</th>
                        <td class="px-2 text-center text-secondary">
                            <div class="flex justify-center items-center">
                                <button mat-icon-button [matMenuTriggerFor]="folderMenu" aria-label="Actions">
                                    <i class="fa-solid fa-caret-down icon-size-4 primary-color"></i>
                                </button>
                                <mat-menu #folderMenu="matMenu" aria-label="Folder Actions">
                                    <button mat-menu-item (click)="openSupprimerDialog()">
                                        <i class="fa-solid fa-trash red-color mr-2"></i>
                                        {{ translate('common.supprimer') }}
                                    </button>
                                    <button mat-menu-item (click)="openModifierDialog()">
                                        <i class="fa-solid fa-pen-to-square primary-color mr-2"></i>
                                    {{ translate('common.modifier') }}
                                    </button>
                                </mat-menu>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>


</div>
