::ng-deep .custom-menu-item {
    min-height: 30px !important;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
  }

  .small-icon-button {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
  }
