::ng-deep .mat-mdc-tab-group .mdc-tab-indicator {
    display: none !important;
  }


  ::ng-deep .mat-mdc-tab-header {
    display: none !important;
  }

::ng-deep .mat-mdc-tab-header {
    display: none !important;
  }